body {
    margin: 0;
}

/*HEADER IN*/
.header {
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    display: flex;
    justify-content: left;

}

.vl {
    border-left: 2px solid white;
    height: 50px;
}

/*HEADER OUT*/

/*BODY IN*/
main {
    justify-content: center;
    margin-top: 10px;
    justify-self: center;
}

.home {
    padding: 30px;
    position: relative;
    left: 30px;
    width: 0;
}

.card-img {
    width: 150px;
}

.card-title {
    background-color: rgb(198, 198, 198);
    width: 318px;
    height: 300px;
    padding-top: 150px;
    padding-left: 18px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 5px;
    line-height: 25px;
}

.card-title p {
    color: black;
}

/*BODY OUT*/

/*MENU IN*/
.card-content-menu {
    background-color: rgb(234, 234, 234);
    width: 310px;
    height: 300px;
    color: black;
    border-radius: 20px 0px 0px 20px;
}

.card-content-menu p {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    line-height: 15px;
}

.card-title-menu {
    padding: 10px;
}

/*MENU OUT*/

/*FOOTER IN*/
footer {
    background-color: black;
    height: 250px;
    color: white;
    padding-top: 50px;
    padding-left: 15px;
    display: flex;
    gap: 10%;
}

.footer-logo h1 {
    font-size: 25px;
}

.social {
    display: flex;
}

.footer-info a {
    color: white;
}

.footer-info p {
    margin-left: 2px;
    font-weight: 100;
}

/*FOOTER OUT*/

/*MEDIA IN*/
@media (max-width: 350px) {

    * {
        margin: 0;
    }

    .logo,
    .tera {
        margin: 5px;
        margin-top: 45px;
    }

    .vl {
        margin-top: 45px;
        height: 32px;
    }

    .logo h1,
    .tera h1 {
        font-size: 25px
    }

    .header {
        width: 100%;
        height: 120px;
    }

    .card-title {
        width: 308px;
        height: 285px;
    }

    .card-title p {
        font-size: 25px;
    }

    footer {
        width: 100%;
    }
}

/*MEDIA OUT*/